<style>
    .background-image {
        background-image: url('images/fondologinBatia.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 95vh;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        margin-bottom: 0px;
    }
    .login-card {
        background-color: rgba(255, 255, 255, 0.00);
    }
    .input {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
    }
    .my-input-class {
        background-color: rgba(255, 255, 255, 0.2);
    }
    .bodycss {
        margin: 0;
        padding: 0;
        margin-bottom: 0px;
        border-bottom: 0px;
        background-image: url('images/FondoSinga3.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 95vh;
    }
    .card {
        border: none;
    }
    .card-headercss,
    .card-footercss {
        background: none;
        border: none;
    }
    .col-mid {
        flex: 0 0 4.166%;
        max-width: 4.166%;
    }
    ::placeholder,
    ::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.2);
    }
    input:focus::placeholder,
    input:focus::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.2);
    }
    .fadeIn {
        animation: fadeInAnimation 0.5s ease-in-out forwards;
    }
    @keyframes fadeInAnimation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>
<body class="bodycss fadeIn">
    <div [@fadeInOut]>
        <br />
        <div class="row">
            <div class="col-mid">
            </div>
            <div class="col-12 col-md-5">
                <div class="card login-card  card" (keydown)="review($event)">
                    <h3 class="card-header text-center card-headercss">Sistema Integral de Gestion Administrativa (CRM)</h3>
                    <div class="card-body">
                        <div class="mb-2">
                            <div class="form-floating">
                                <input type="text" class="form-control my-input-class" [(ngModel)]="model.usuario" id="txusuario" placeholder="Usuario">
                                <label for="txusuario">Usuario</label>
                            </div>
                            <span *ngIf="ferr('Usuario')" class="text-danger">{{ terr('Usuario') }}</span>
                        </div>
                        <div class="mb-2">
                            <div class="form-floating">
                                <input type="password" class="form-control my-input-class" [(ngModel)]="model.contrasena" id="txpassword" placeholder="Contraseña">
                                <label for="txpassword">Contraseña</label>
                            </div>
                            <span *ngIf="ferr('Contrasena')" class="text-danger">{{ terr('Contrasena') }}</span>
                        </div>
                    </div>
                    <div class="card-footer text-start card-footercss">
                        <button type="button" (click)="onLogin()" class="btn btn-primary box-shadow" isDefault="true">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

































<toast-widget [events]="evenSub.asObservable()" [isError]="isErr" [message]="errMessage"></toast-widget>