<style>
    .btn-bottom-right {
        position: absolute;
        bottom: 80px;
        right: 30px;
    }
</style>
<div [@fadeInOut]>
    <br />
    <div class="row pt-1 mb-3">
        <div>
            <h1 class="h2">Dashboard</h1>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div id="dvtop"></div>
            </div>
            <div class="col-12 col-md-6">
                <div id="dvdonut"></div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <button type="button" class="btn btn-primary btn-bottom-right box-shadow" (click)="goBack()">Volver</button>
</div>
